@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(185, 185, 185);
    background-color: rgb(248, 248, 248);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}


.box {
    max-width: 900px;
    min-height: 420px;
    margin: 90px auto;
    border-radius: 8px;
    background-color: rgb(248, 248, 248);
    padding-top: 5px;
}

#current__bad__words { 
    color: red;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 870px;
    min-height: 30px;
    margin-top: 5px;
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    outline: none;
}

.bad__words {
    font-family: 'Roboto', sans-serif;
    margin: 20px 15px;
    font-size: 16px;
    width: 870px;
}



.field {
    margin: -10px auto;
}

.words {
    width: 55%;
    border: 1px solid rgb(185, 185, 185);
    height: 40px;
    margin: 0 15px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
}

.add {
    width: 19%;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(243, 222, 30);
    outline: none;
    font-size: 18px;
    border: 1px solid transparent;
}

.reset {
    width: 19%;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(243, 30, 30);
    outline: none;
    font-size: 18px;
    border: 1px solid transparent;
    color: white;
}


#area {
    max-height: 170px;
    min-height: 170px;
    max-width: 100%;
    min-width: 100%;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


.text {
    font-family: 'Roboto', sans-serif;
    margin: 20px 15px;
    font-size: 16px;
    width: 870px;
}


.cenzor {
    margin: 20px 15px;
    font-size: 16px;
    width: 870px;
    height: 40px;
}

.btn__cenzor {
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: rgb(32, 185, 18);
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    transition: .3s;
}


.btn__cenzor:hover {
    border: 1px solid rgb(185, 185, 185);
    color: rgb(32, 185, 18);
    background-color: white;
}