form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto 0;
}

input[type=text] {
    width: 48%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgb(173, 173, 173);
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

input[type=button] {
    width: 48%;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(42, 190, 42);
    color: white;
    border: 1px solid transparent;
    outline: none;
    font-size: 20px;
    transition: .3s;
}

input[type=button]:hover {
    color: rgb(42, 190, 42);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(173, 173, 173);
}



.container-xl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}



.cards {
    text-align: center;
    border: 1px solid #000;
    margin-bottom: 20px;
    
}

.title {
    flex-wrap: wrap;
    height: 30px;
}
